{% extends 'base/base.html' %}
{% block content %}
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava3.png"
                                 alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ user.first_name }} {{ user.last_name }}</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-outline-primary ms-1">Edit Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"> {{ user.email }}</p>
                                </div>
                            </div>
                            {% if profile.phone_number %}
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ profile.phone_number }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if profile.street_address and profile.city and profile.zip_code %}
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"> {{ profile.street_address }}, {{ profile.zip_code }}, {{ profile.city }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% if auctions %}
                <h4>Won Auctions - Unpayed:</h4>
                <div class="d-flex align-content-start flex-wrap">
                    {% for auction in auctions %}
                        <div class="card p-2 w-25">
                            <div class="d-flex flex-column">
                                <div class="p-2"><img
                                        src="https://hips.hearstapps.com/edc.h-cdn.co/assets/16/21/1464359609-antique-lead.jpg"
                                        height="100%" width="100%"></div>
                                <div class="p-2"><a href="{% url 'auctions:auction_detail' auction.id %}">Auction
                                    name: {{ auction.name }}</a></div>
                                <div class="p-2">Auction id: {{ auction.id }}</div>
                                <div class="p-2">Amount to pay: {{ auction.highest_bid }}</div>
                                <div class="p-2"><a href="#">Make payment</a></div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            {% endif %}
            {% if payed_auctions %}
                <h4 class="mt-5">Payment history:</h4>
                <div class="d-flex align-content-start flex-wrap">
                    {% for payed_auction in payed_auctions %}
                        <div class="card p-2 w-25">
                            <div class="d-flex flex-column">
                                <div class="p-2"><img
                                        src="https://hips.hearstapps.com/edc.h-cdn.co/assets/16/21/1464359609-antique-lead.jpg"
                                        height="100%" width="100%" alt=""></div>
                                <div class="p-2"><a href="{% url 'auctions:auction_detail' payed_auction.id %}">Auction
                                    name: {{ payed_auction.name }}</a></div>
                                <div class="p-2">Auction id: {{ payed_auction.id }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>
{% endblock %}