{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load currency_tags %}
{% block content %}
    <section>
        <div class="container py-5">
            {% if time.days >= 0 %}
                <h4>Time left:</h4>
                <p class="text-danger">{{ time.days }}d {{ time.hours }}h {{ time.minutes }}min</p>
            {% else %}
                <h4 class="text-danger">Auction ended</h4>
            {% endif %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img
                                    src="https://hips.hearstapps.com/edc.h-cdn.co/assets/16/21/1464359609-antique-lead.jpg"
                                    alt="avatar"
                                    class="rounded-circle img-fluid"
                                    style="width: 300px;"
                            >
                            <h5 class="my-3"> {{ auction.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Store name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ auction.store.name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Product name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ auction.name }}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">End date: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"> {{ auction.end_date }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Start bid: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">NOK {{ auction.min_price | divide_by_100 }},-</p>
                                </div>
                            </div>
                            {% if auction.buy_now %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Buy now: </p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">NOK {{ auction.buy_now | divide_by_100 }},-</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if auction.highest_bid %}
                                {% if not auction.winner %}
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Current leading bid: </p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">
                                                NOK {{ auction.highest_bid | divide_by_100 }},-</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex flex-row card">
                <div class="p-2 w-50">
                    <h5>Description: </h5>
                    <p class="text-muted mb-0"> {{ auction.description | linebreaks }}</p>
                </div>
                <div class="p-2 w-50">
                    <h5>Bid history:</h5>
                    {% if bids %}
                        {% for bid in bids %}
                            {% if bid.value == auction.highest_bid and auction.winner %}
                                <p>Winner: {{ bid.owner.username }} - Bid: NOK {{ bid.value | divide_by_100 }},-
                                    // {{ bid.created_at }}</p>
                            {% else %}
                                <p>{{ bid.owner.username }} - Bid: NOK {{ bid.value | divide_by_100 }},-
                                    // {{ bid.created_at }}</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No bids yet</p>
                    {% endif %}
                    {% if time.days >= 0 %}
                        {% if user.is_authenticated %}
                            <div class="content-section">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button
                                            class="btn btn-outline-info mt-2"
                                            type="submit"
                                    >Place bid
                                    </button>
                                </form>
                                {% if auction.buy_now %}
                                    {% if auction.buy_now >= auction.min_price and not auction.highest_bid %}
                                        <a
                                                href="{% url 'auctions:buy_now_auction' auction.id %}"
                                                type="button"
                                                class="btn btn-outline-success me-2 mt-2"
                                        >Buy now
                                        </a>
                                    {% elif auction.buy_now > auction.highest_bid %}
                                        <a
                                                href="{% url 'auctions:buy_now_auction' auction.id %}"
                                                type="button"
                                                class="btn btn-outline-success me-2 mt-2"
                                        >Buy now
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% else %}
                            <p>Login to place bid</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}