{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <section>
 <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://hips.hearstapps.com/edc.h-cdn.co/assets/16/21/1464359609-antique-lead.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 300px;">
            <h5 class="my-3"> {{ auction.name }}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Product name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ auction.name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Description: </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{ auction.description }}</p>
              </div>
            </div>
          <hr>
           <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">End date: </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{ auction.end_date }}</p>
              </div>
            </div>
          <hr>
           <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Start bid: </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">NOK {{ auction.min_price }},-</p>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
 <div>
    <h5>Bid history:</h5>
     {% if bids %}
     {% for bid in bids %}
      <p>{{ bid.owner.first_name }} - Bid: NOK {{ bid.value }},- // {{ bid.created_at }}</p>
     {% endfor %}
    {% else %}
    <p>No bids yet</p>
    {% endif %}
  {% if user.is_authenticated %}
        <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Bid on auction</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
 {% endif %}


 </div>
</section>

{% endblock %}