{% extends 'base/base.html' %}
{% block content %}
    <div class="container spacer">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4 mb-5">FAQ.</h1>
            <p class="lead mt-2">This is a list of commonly asked questions.</p>
        </div>
        <div
          class="accordion accordion-flush"
          id="accordionFlushExample"
        >
            <div class="accordion-item">
                <h2
                  class="accordion-header"
                  id="flush-headingOne"
                >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                        Why does Auction Warrior charge commission?
                    </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                    <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias
                        aliquam aliquid, asperiores distinctio excepturi expedita maiores maxime minima modi nemo
                        praesentium quas, quibusdam quis rerum saepe sint. Nesciunt, optio, tenetur. Atque consequatur
                        cum dignissimos dolor, dolores earum et nam perferendis quos rerum sapiente sunt suscipit
                        temporibus ullam unde. Soluta.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2
                  class="accordion-header"
                  id="flush-headingTwo"
                >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                        How can i complain on a bought item?
                    </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                    <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                        accusantium aliquam, autem cupiditate deserunt exercitationem fugit hic in ipsum odit officia
                        perspiciatis possimus quia rerum sequi sit tenetur vel veniam! Ad consequuntur cupiditate illo
                        iusto optio quae quia rerum! Accusantium cumque enim eos error inventore minus perferendis
                        reprehenderit veritatis vero!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2
                  class="accordion-header"
                  id="flush-headingThree"
                >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                        When are you implementing pictures?
                    </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                    <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi
                        aperiam aspernatur consectetur cum delectus eaque, enim est fuga ipsam magnam magni maiores
                        mollitia neque nobis optio placeat porro, possimus praesentium quasi reprehenderit ullam vero?
                        Aspernatur, doloremque et, eveniet facilis fuga in magnam nobis officia placeat quos rem sequi!
                        Pariatur.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}