{% extends 'base/base.html' %}
{% block content %}

    <h1>Categories</h1>

    <div style="display: flex; gap: 30px; margin-top: 40px; margin-bottom: 40px;">
        <button type="button" class="btn btn-primary btn-sm">Antiques</button>
        <button type="button" class="btn btn-primary btn-sm">Vintage Vehicles</button>
        <button type="button" class="btn btn-primary btn-sm">Furniture</button>
        <button type="button" class="btn btn-primary btn-sm">The Market</button>
    </div>

    <div style="display: flex; width: 100%; justify-content: space-between; margin-top: 40px; margin-bottom: 40px;">
        <h1>Auctions</h1>

        <select class="form-select form-select-sm" aria-label="Default select example" style="width: 25%;">
          <option selected>Sorting options/option>
          <option value="1">Alphabetic</option>
          <option value="2">Newest</option>
          <option value="3">Oldest</option>
        </select>
    </div>

    <div class="card-group">
        <div class="card" style="width: 18rem;">
          <img src="https://hips.hearstapps.com/edc.h-cdn.co/assets/16/21/1464359609-antique-lead.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Auction 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Enter auction</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://www.kienle.com/fileadmin/_processed_/1/c/csm_faszination-oldtimer-header-xs_33e6719298.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Auction 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Enter auction</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://memegenerator.net/img/instances/66939156.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Auction 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Enter auction</a>
          </div>
        </div>
    </div>

    <nav aria-label="...">
      <ul class="pagination justify-content-center" style="margin-top: 40px;">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

{% endblock %}