{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-md">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Logg inn</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Logg inn</button>
            </div>
        </form>
        <div class="spacer">
            <h4>No User yet?</h4>
            <!--FIXME Change a tag back to button tag and add logic for the button-->
            <a href="{% url 'users:register' %}" type="button" class="btn btn-primary">Register a New User</a>
        </div>
    </div>
{% endblock %}