{% extends 'base/base.html' %}
{% block content %}
    <div class="container d-flex justify-content-between">
        <h1>Available Stores</h1>
        <a
          href="{% url 'stores:create_store' %}"
          type="button"
          class="btn btn-outline-primary me-2s"
        >Register a Store
        </a>
    </div>
    <section>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="1" class="card-link">Card link</a>
          </div>
        </div>
    </section>
{% endblock %}